body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  overflow: hidden;
  touch-action: none;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  background-color: #000;
}
